USE [master]
GO
/****** Object:  Database [RING]    Script Date: 11/3/2024 11:04:40 PM ******/
CREATE DATABASE [RING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RING]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/3/2024 11:04:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](30) NOT NULL,
	[pass] [varchar](50) NULL,
	[email] [varchar](1000) NULL,
	[isSeller] [int] NULL,
	[isAdmin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Book]    Script Date: 11/3/2024 11:04:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varchar](500) NULL,
	[price] [float] NULL,
	[amount] [int] NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](4000) NULL,
	[type] [nvarchar](200) NULL,
	[author] [nvarchar](200) NULL,
	[publisher] [int] NULL,
	[cateID] [int] NULL,
	[sellID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BookDetail]    Script Date: 11/3/2024 11:04:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BookDetail](
	[bookID] [int] NULL,
	[bWeight] [float] NULL,
	[size] [varchar](50) NULL,
	[pages] [int] NULL,
	[bDate] [smalldatetime] NULL,
	[bLanguage] [nvarchar](100) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/3/2024 11:04:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](200) NULL,
	[image] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/3/2024 11:04:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderID] [int] NULL,
	[bookID] [int] NULL,
	[amount] [int] NULL,
	[price] [float] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderReceipt]    Script Date: 11/3/2024 11:04:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderReceipt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[username] [varchar](30) NULL,
	[fullName] [nvarchar](200) NULL,
	[email] [varchar](1000) NULL,
	[phone] [varchar](15) NULL,
	[oAddress] [nvarchar](1000) NULL,
	[oMessage] [nvarchar](1000) NULL,
	[oDate] [smalldatetime] NULL,
	[total] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 11/3/2024 11:04:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pubName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 11/3/2024 11:04:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[username] [varchar](30) NULL,
	[bookID] [int] NULL,
	[rContent] [nvarchar](1000) NULL,
	[rating] [int] NULL,
	[rDate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sub]    Script Date: 11/3/2024 11:04:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sub](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subName] [nvarchar](200) NULL,
	[cateId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [userName], [pass], [email], [isSeller], [isAdmin]) VALUES (1, N'treocaynho01629', N'123456', N'19130248@st.hcmuaf.edu.vn', 1, 1)
INSERT [dbo].[Account] ([id], [userName], [pass], [email], [isSeller], [isAdmin]) VALUES (2, N'trumhangrong01629', N'trumhangrong01629@gmail.com', N'1', 0, 0)
INSERT [dbo].[Account] ([id], [userName], [pass], [email], [isSeller], [isAdmin]) VALUES (3, N'chuotcon', N'321', N'mailkhongtontai@gmail.com', 1, 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookDetail] ON 

INSERT [dbo].[BookDetail] ([bookID], [bWeight], [size], [pages], [bDate], [bLanguage], [id]) VALUES (1, NULL, NULL, NULL, CAST(N'2024-11-03T15:59:00' AS SmallDateTime), NULL, 16)
INSERT [dbo].[BookDetail] ([bookID], [bWeight], [size], [pages], [bDate], [bLanguage], [id]) VALUES (2, 0, N'', 0, CAST(N'2024-11-03T16:15:00' AS SmallDateTime), N'', 17)
INSERT [dbo].[BookDetail] ([bookID], [bWeight], [size], [pages], [bDate], [bLanguage], [id]) VALUES (3, NULL, NULL, NULL, CAST(N'2024-11-03T16:00:00' AS SmallDateTime), NULL, 18)
SET IDENTITY_INSERT [dbo].[BookDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [categoryName], [image]) VALUES (2, N'Sách giáo khoa', N'https://webdanhgia.vn/wp-content/uploads/2022/07/Dich-vu-ve-sinh-cong-nghiep-gia-re.jpg')
INSERT [dbo].[Category] ([id], [categoryName], [image]) VALUES (3, N'Tiểu thuyết', NULL)
INSERT [dbo].[Category] ([id], [categoryName], [image]) VALUES (4, N'Ký sự', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Publisher] ON 

INSERT [dbo].[Publisher] ([id], [pubName]) VALUES (1, N'NXB Trẻ')
INSERT [dbo].[Publisher] ([id], [pubName]) VALUES (2, N'NXB Kim Đồng')
INSERT [dbo].[Publisher] ([id], [pubName]) VALUES (3, N'NXB Tổng Hợp TP.HCM')
SET IDENTITY_INSERT [dbo].[Publisher] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([id], [userID], [username], [bookID], [rContent], [rating], [rDate]) VALUES (1, 1, N'treocaynho01629', 4, N'Hay', 5, CAST(N'2024-11-03T16:07:00' AS SmallDateTime))
INSERT [dbo].[Review] ([id], [userID], [username], [bookID], [rContent], [rating], [rDate]) VALUES (2, 1, N'treocaynho01629', 4, N'Good!', 3, CAST(N'2024-11-03T16:11:00' AS SmallDateTime))
INSERT [dbo].[Review] ([id], [userID], [username], [bookID], [rContent], [rating], [rDate]) VALUES (3, 1, N'treocaynho01629', 4, N'Hay', 5, CAST(N'2024-11-03T16:11:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
ALTER TABLE [dbo].[Book]  WITH NOCHECK ADD  CONSTRAINT [fk_cID2] FOREIGN KEY([cateID])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Book] NOCHECK CONSTRAINT [fk_cID2]
GO
ALTER TABLE [dbo].[Book]  WITH NOCHECK ADD  CONSTRAINT [fk_pId] FOREIGN KEY([publisher])
REFERENCES [dbo].[Publisher] ([id])
GO
ALTER TABLE [dbo].[Book] NOCHECK CONSTRAINT [fk_pId]
GO
ALTER TABLE [dbo].[OrderReceipt]  WITH CHECK ADD  CONSTRAINT [fk_uId2] FOREIGN KEY([userID], [username])
REFERENCES [dbo].[Account] ([id], [userName])
GO
ALTER TABLE [dbo].[OrderReceipt] CHECK CONSTRAINT [fk_uId2]
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD  CONSTRAINT [fk_uId] FOREIGN KEY([userID], [username])
REFERENCES [dbo].[Account] ([id], [userName])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [fk_uId]
GO
ALTER TABLE [dbo].[Sub]  WITH CHECK ADD  CONSTRAINT [fk_cId] FOREIGN KEY([cateId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Sub] CHECK CONSTRAINT [fk_cId]
GO
USE [master]
GO
